<!DOCTYPE html>
<html>
	<head>
		<title>Bienvenido...</title>
		<style type="text/css">
			div{
				border: 2px solid;
				padding: 0.5em;
				margin: auto;
			}
			div#img{
				border: 2px solid;
				width: 700px;
				
			}
			div#extra{
  				width: 700px;
  				height:23px;
  				background-color: #0FF;
			}
			div#otro{
				float:right;
				border: 2px solid;
				margin:15px;
  				width: 150px;
  				height:250px;
  				background-color: #4AF;
			}
			div#bienvenida{
				float:left;
				border: 2px solid;
				margin:15px;
  				width: 250px;
  				height:250px;
  				background-color: #4AF;
			}
			div#divRight{
				float:right;
				margin:0px;
				padding:0px;
				border: 2px solid;
				background-color: #00F;
			}
			div#general{
				width: 700px;
				height: 300px;
				border: 2px solid;
				background-color: #00F;
			}
			div#fondo{
				float:down;
				width:700px;
				height:50px;
				background-color: #0FF;
			}
			asset:image{
			    
			    display: block;
			    margin-left: auto;
			    margin-right: auto;
			}
		</style>
	</head>
	<body> 
		<div id="img"><asset:image src="forum.jpg"/></div>
		
		<div id="extra"><div id="divRight"><g:link controller="user" action="login"><input type="button" value="LOGIN"/></g:link></div></div>
		<div id="general">
			<div id="otro">
				<p ALIGN=center> Foros con más entradas
				<g:textArea name="myField" value="Máximo 10" rows="13" cols="16"/>
			</div>
			<div id="otro">
				<p ALIGN=center> Últimas entradas (Post)
				<g:textArea name="myField" value="Máximo 10" rows="13" cols="16"/>
			</div>
			<div id="bienvenida">
				<p>Bienvenido a la aplicación Forum 2.0
				<p>Consultar:
				<ul>
				<li type="disc"><g:link controller="forum">Foros</g:link></li>
				<li type="disc"><g:link controller="user">Usuario</g:link></li>
				<li type="disc"><g:link controller="post">Entradas (Posts)</g:link></li>
				<li type="disc"><g:link controller="file">Archivos</g:link></li>
				</ul>
			</div>
		</div>
		<div id="fondo">
			<p ALIGN=center> Aplicación hecha por: EDUTAINMENT
		</div>
		
	</body>
</html>
